<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Todo List</h1>
    <div class="item-list">

    </div>
    <form action="" method="POST">
        <textarea name="content" id="content" cols="30" rows="10"></textarea>
        <button onclick="handleGetData(event)">Submit</button>
    </form>
</body>
</html>